body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


button {
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.btn1 {
  background-color: green;
  color: white;
}

.btn2 {
  background-color: red;
  color: white;
}

.btn3 {
  background-color: blue;
  color: white;
}